In [24]:
#6.5.2
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [25]:
#6.5.2
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-09-17 13:52:54,-53.1500,-70.9167,37.51,93,90,8.05
1,1,Tasiilaq,GL,2021-09-17 13:52:54,65.6145,-37.6368,35.71,57,100,5.12
2,2,Albany,US,2021-09-17 13:52:54,42.6001,-73.9662,70.61,85,33,6.60
3,3,Mount Isa,AU,2021-09-17 13:52:55,-20.7333,139.5000,65.97,37,0,0.00
4,4,Cape Town,ZA,2021-09-17 13:50:48,-33.9258,18.4232,72.12,55,0,4.00

In [26]:
#6.5.2
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [27]:
#6.5.2
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [28]:
#6.5.2
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [32]:
#6.5.2
# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs. locations = [latitude, longitude]
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values. temperatures = # an array of length equal to the locations array length
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute. fig = gmaps.figure()
# Assign the figure variable.
#Gmaps center and zoom level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
#6.5.2
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
#6.5.2
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
#6.5.2
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
#6.5.3
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("Yo! How cold of a trip do you want? "))
max_temp = float(input("Yo! How hot of a trip do you want? "))

Yo! How cold of a trip do you want? 85
Yo! How hot of a trip do you want? 90

In [37]:
#6.5.3
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Bangui,CF,2021-09-17 13:52:57,4.3612,18.5550,87.98,70,40,3.44
57,57,Kutum,SD,2021-09-17 13:53:13,14.2000,24.6667,88.00,21,44,11.32
62,62,Los Algarrobos,PA,2021-09-17 13:53:15,8.5000,-82.4333,88.45,89,20,2.30
68,68,Cayenne,GF,2021-09-17 13:53:18,4.9333,-52.3333,87.10,74,75,5.01
75,75,Suez,EG,2021-09-17 13:53:21,29.9737,32.5263,88.75,31,0,8.95
94,94,Victoria,HK,2021-09-17 13:49:51,22.2855,114.1577,87.33,82,2,1.01
116,116,Aquiraz,BR,2021-09-17 13:53:37,-3.9014,-38.3911,89.69,54,6,17.02
141,141,Corinto,GR,2021-09-17 13:53:47,37.9407,22.9573,89.62,46,28,0.36
154,154,Safaga,EG,2021-09-17 13:53:52,26.7292,33.9365,89.55,47,3,20.94
157,157,Dasoguz,TM,2021-09-17 13:53:53,41.8363,59.9666,87.75,25,0,18.41

In [38]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [47]:
#6.5.4
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

              City Country  Max Temp      Lat      Lng Hotel Name
11          Bangui      CF     87.98   4.3612  18.5550
57           Kutum      SD     88.00  14.2000  24.6667
62  Los Algarrobos      PA     88.45   8.5000 -82.4333
68         Cayenne      GF     87.10   4.9333 -52.3333
75            Suez      EG     88.75  29.9737  32.5263

In [48]:
#6.5.4
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [49]:
#6.5.4
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
#6.5.4
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Bangui,CF,87.98,4.3612,18.5550,SAM HOTEL
57,Kutum,SD,88.00,14.2000,24.6667,Dibbo areaمنطقة دبو
62,Los Algarrobos,PA,88.45,8.5000,-82.4333,Waterfall Hostel
68,Cayenne,GF,87.10,4.9333,-52.3333,Hôtel Le Dronmi
75,Suez,EG,88.75,29.9737,32.5263,Green House
94,Victoria,HK,87.33,22.2855,114.1577,Mini Hotel Central
116,Aquiraz,BR,89.69,-3.9014,-38.3911,Pousada Rua Camurupim
141,Corinto,GR,89.62,37.9407,22.9573,Ephira Hotel
154,Safaga,EG,89.55,26.7292,33.9365,Lamar Resort Abu Soma
157,Dasoguz,TM,87.75,41.8363,59.9666,Ташауз Отел
178,Rehoboth,NaN,85.98,-23.3167,17.0833,Noble Luminous Accommodation
181,Jeremoabo,BR,87.01,-10.0750,-38.4808,
190,Wattegama,LK,85.12,6.7989,81.4808,
195,Morant Bay,JM,87.62,17.8815,-76.4093,Whispering Bamboo Cove Resort
234,Tucupita,VE,87.39,9.0622,-62.0510,Hotel Tucupita Su​ite C.A.
278,Carutapera,BR,87.64,-1.1950,-46.0200,Lidera
306,Vila Do Maio,CV,86.79,15.1333,-23.2167,Hotel Marilu
334,Bathsheba,BB,88.41,13.2167,-59.5167,Atlantis Hotel
352,Kitob,UZ,88.38,39.0843,66.8332,KESH HOTEL
360,Ocos,GT,86.32,14.5094,-92.1933,Auto Hotel El Soñador
380,Road Town,VG,86.04,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
381,Iracoubo,GF,85.08,5.4802,-53.2011,Le Gîte d’Iracoubo
429,Itarema,BR,89.35,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
441,Machiques,VE,87.04,10.0644,-72.5450,hotel el markes
445,Papara,BR,88.20,-3.9839,-38.7273,Romin
446,Natal,BR,86.22,-5.7950,-35.2094,Villa Park Hotel | Natal
451,Saint-Louis,SN,86.04,16.3333,-15.0000,
482,Hambantota,LK,86.34,6.1241,81.1185,Bungalow 63
493,The Valley,AI,86.83,18.2170,-63.0578,CeBlue Villas & Beach Resort
508,Porto Velho,BR,86.05,-8.7619,-63.9039,Hotel Central
552,Saint-Georges,GD,87.48,12.0564,-61.7485,Radisson Grenada Beach Resort
561,Ushirombo,TZ,85.91,-3.4919,31.9639,Kigali Hotel

In [51]:
#6.5.4
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
#6.5.4
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
#6.5.4
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))